* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  font-size: 15px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background: #000 url("../assets/bg.png");

  @include to(md) {
    background-size: cover;
  }
}

h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-shadow: -2px 2px 5px #cc7100;
}
